**/bin/*
**/obj/*
*.suo
AdminBackend/MBBackEnd/.vs/MBBackEnd/v14/.suo
AdminBackend/MBBackEnd/.vs/config/applicationhost.config
AdminBackend/MBBackEnd/.vs/config/applicationhost.config
AdminBackend/MBBackEnd/.vs/MBBackEnd/v14/.suo
