
@{
    ViewBag.Title = "AdminPage";
}

<script>
	function startTime()
	{
		var date = new Date();
		var time = "";
		var ampm = "AM";
		var hour = date.getHours();
		var min = checkTime(date.getMinutes());
		var sec = checkTime(date.getSeconds());
		var day = date.toDateString();

		if(hour > 12)
		{
			hour = hour - 12;
			ampm = "PM";
		}

		time =  day + " - "+ hour + ":" + min + ":" + sec + " " + ampm;
		document.getElementById('dateId').innerHTML = "" + time;
		var t = setTimeout(startTime, 500);
	}

	function checkTime(i)
	{
		if (i < 10) {i = "0" + i};
		return i;
	}
	$(document.ready(function () {
	    startTime()
	}))
  <script>

	function startTime()
	{
		var date = new Date();
		var time = "";
		var ampm = "AM";
		var hour = date.getHours();
		var min = checkTime(date.getMinutes());
		var sec = checkTime(date.getSeconds());
		var day = date.toDateString();

		if(hour > 12)
		{
			hour = hour - 12;
			ampm = "PM";
		}

		time =  day + " - "+ hour + ":" + min + ":" + sec + " " + ampm;
		document.getElementById('dateId').innerHTML = "" + time;
		var t = setTimeout(startTime, 500);
	}

	function checkTime(i)
	{
		if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
		return i;
	}
</script>
<script>
$(document).ready(function(){
    $('#Daily').click(function(){
        $('#tblDaily').show();
		$('#tblWeekly').hide();
		$('#tblMonthly').hide();
    });
    $('#Weekly').click(function(){
		$('#tblDaily').hide();
		$('#tblMonthly').hide();
        $('#tblWeekly').show();
    });
	$('#Monthly').click(function(){
        $('#tblMonthly').show();
		$('#tblDail').hide();
		$('#tblWeekly').hide();
    });
});
</script>


</head>
<body onload="startTime()">

    <!--TITLE-->
    <div class="container">
        <h2 class="text-center"><strong><u>Majic Bus Admin page</strong></u></h2>


        <!--DATE-->
        <header class="footer navbar-fixed-top">
            <div class="container">
                <p id="dateId">  </p>
            </div>
        </header>

        <!--different options of how to look at the collected data-->
        <div class="col-sm-8" style="padding-bottom:7px;">
            <button id="Daily" class="btn btn-default">Daily</button>
            <button id="Weekly" class="btn btn-default">Weekly</button>
            <button id="Monthly" class="btn btn-default">Monthly</button>
        </div>

        <!--Table-->
        <div class="container">
            <table id="tblDaily" class="table table-bordered" style="display:none">
                <thead>
                    <tr>
                        <th>Date Sent</th>
                        <th>Date Received</th>
                        <th>Received From</th>
                        <th>Sent to</th>
                        <th>Message</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>016/02/23</td>
                        <td>016/02/23</td>
                        <td>250-889-4526</td>
                        <td>250-778-2877</td>
                        <td>GIMME THE BUS TIMES!!!!</td>
                    </tr>
                </tbody>
            </table>

            <table id="tblWeekly" class="table table-bordered" style="display:none">
                <thead>
                    <tr>
                        <th>Date Sent</th>
                        <th>Date Received</th>
                        <th>Received From</th>
                        <th>Sent to</th>
                        <th>Message</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>016/02/24</td>
                        <td>016/02/24</td>
                        <td>250-655-7584</td>
                        <td>250-778-2877</td>
                        <td>BLEH</td>
                    </tr>
                </tbody>
            </table>

            <table id="tblMonthly" class="table table-bordered" style="display:none">
                <thead>
                    <tr>
                        <th>Date Sent</th>
                        <th>Date Received</th>
                        <th>Received From</th>
                        <th>Sent to</th>
                        <th>Message</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>016/01/16</td>
                        <td>016/01/16</td>
                        <td>250-165-0026</td>
                        <td>250-778-2877</td>
                        <td>This is a nice table :)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--summary on each page -->
        <div class="navbar-fixed-bottom row-fluid">
            <div class="container">
                <p> Number of Texts Received: 234 </p>
                <p> Number of Texts Sent: 234 </p>
                <p> Most popular bus stop (Bus Id): 2342423 </p>
            </div>
        </div>

    </div>
