body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html, body
{
    background: #808080;
}
header,
header .container
{
    height: 250px;
}
header .container
{
    position: relative;
}
header::before
{
    background: #222f2f;
    box-shadow: inset 0 0 50px 30px rgba(0,0,0,.15);
    content: "";
    display: block;
    height: 300px;
    position: absolute;
    width: 100%;
}
.navbar
{
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}
#main
{
    position: relative;
}
#main .container
{
    background: #ffffff;
}
