@model MBBackEnd.Models.TransitViewModels.BusPositionPage

<script src="http://maps.googleapis.com/maps/api/js">
</script>
<script>
    //window.busStops = @*@Newtonsoft.Json.JsonConvert.SerializeObject(Model)*@;
    //var busStops = JSON.parse("[{\"lat\": 49.9181689367744, \"lng\": -119.40260090566},{\"lat\": 49.9181643818211, \"lng\": -119.406189931682},{\"lat\": 49.9180676677642, \"lng\": -119.409448636241},{\"lat\": 49.914046579664, \"lng\": -119.41362784456},{\"lat\": 49.9126585658355, \"lng\": -119.416271425548},{\"lat\": 49.9109947091827, \"lng\": -119.422177277418},{\"lat\": 49.9065397176398, \"lng\": -119.422759346474},{\"lat\": 49.9015882076357, \"lng\": -119.424963917981},{\"lat\": 49.8986510532142, \"lng\": -119.426366336995},{\"lat\": 49.9001528670264, \"lng\": -119.429450173396},{\"lat\": 49.8990569183841, \"lng\": -119.431428434288},{\"lat\": 49.8992311499755, \"lng\": -119.4327051709},{\"lat\": 49.8987153264518, \"lng\": -119.436009529839},{\"lat\": 49.8957626100168, \"lng\": -119.439568558513},{\"lat\": 49.8988111901042, \"lng\": -119.442480862288},{\"lat\": 49.9011262834642, \"lng\": -119.450905919575},{\"lat\": 49.9012050921654, \"lng\": -119.453939550855},{\"lat\": 49.9008130492643, \"lng\": -119.455228007001},{\"lat\": 49.9005633704023, \"lng\": -119.456364713973},{\"lat\": 49.900395290057, \"lng\": -119.458079495421},{\"lat\": 49.9001867003913, \"lng\": -119.459803345949},{\"lat\": 49.8982403310121, \"lng\": -119.462514158104},{\"lat\": 49.8979017136506, \"lng\": -119.463642755647},{\"lat\": 49.8976502980428, \"lng\": -119.465727475089},{\"lat\": 49.8964215198226, \"lng\": -119.465730564339},{\"lat\": 49.8956030744, \"lng\": -119.465737155404},{\"lat\": 49.8947266252343, \"lng\": -119.465772065424},{\"lat\": 49.8936936279795, \"lng\": -119.465789078589},{\"lat\": 49.8932532410184, \"lng\": -119.46579485141},{\"lat\": 49.8932783749616, \"lng\": -119.468350052376},{\"lat\": 49.893111871601, \"lng\": -119.470130983059},{\"lat\": 49.8932929079634, \"lng\": -119.470646270764},{\"lat\": 49.892566171391, \"lng\": -119.470967635349},{\"lat\": 49.8935414160026, \"lng\": -119.477003826535},{\"lat\": 49.8935385970519, \"lng\": -119.478260779706},{\"lat\": 49.8935349522594, \"lng\": -119.479875198358},{\"lat\": 49.8935290064208, \"lng\": -119.482734607718},{\"lat\": 49.8935464746539, \"lng\": -119.488472135424},{\"lat\": 49.8935462503248, \"lng\": -119.491884814803},{\"lat\": 49.8935503916407, \"lng\": -119.493512754228},{\"lat\": 49.8935658531641, \"lng\": -119.494872889173},{\"lat\": 49.8915489878161, \"lng\": -119.496621834951},{\"lat\": 49.8899342034286, \"lng\": -119.496625119426},{\"lat\": 49.8889857169738, \"lng\": -119.496593011019},{\"lat\": 49.8873048016942, \"lng\": -119.496606043743},{\"lat\": 49.8863205827285, \"lng\": -119.496600302953},{\"lat\": 49.8863244703218, \"lng\": -119.497938921015},{\"lat\": 49.8860502177921, \"lng\": -119.499361199914},{\"lat\": 49.8853661404824, \"lng\": -119.499405034937}]");
    //var busStops = JSON.parse("[{\"lat\": 50.0151965188167, \"lng\": -119.391758798568},{\"lat\": 50.0179854407251, \"lng\": -119.391726040612},{\"lat\": 50.019070613276, \"lng\": -119.391708337144},{\"lat\": 50.0201531531466, \"lng\": -119.391707493939},{\"lat\": 50.0201559999319, \"lng\": -119.395465433509},{\"lat\": 50.0201193819652, \"lng\": -119.406080195542},{\"lat\": 50.0075727570852, \"lng\": -119.402890020901},{\"lat\": 49.9703591820577, \"lng\": -119.385678089779},{\"lat\": 49.9520203391552, \"lng\": -119.386317696118},{\"lat\": 49.9410243837911, \"lng\": -119.388398559342},{\"lat\": 49.9336405414473, \"lng\": -119.390209355533},{\"lat\": 49.9330130251193, \"lng\": -119.38934511136},{\"lat\": 49.9290758145039, \"lng\": -119.386469633668},{\"lat\": 49.9244167670783, \"lng\": -119.386543488669},{\"lat\": 49.922818359758, \"lng\": -119.386545945415},{\"lat\": 49.921894008457, \"lng\": -119.386560380552},{\"lat\": 49.9196334555579, \"lng\": -119.386759614161},{\"lat\": 49.9181386176119, \"lng\": -119.387840604058},{\"lat\": 49.9164950938782, \"lng\": -119.389551176111},{\"lat\": 49.9130604951145, \"lng\": -119.395913691114},{\"lat\": 49.9117763717861, \"lng\": -119.398062595544},{\"lat\": 49.9049600396506, \"lng\": -119.405467813053},{\"lat\": 49.904825148714, \"lng\": -119.407016053538},{\"lat\": 49.9012726465629, \"lng\": -119.408847793832},{\"lat\": 49.8954041576308, \"lng\": -119.414308651497},{\"lat\": 49.8927492731439, \"lng\": -119.416823613914},{\"lat\": 49.89083426724, \"lng\": -119.418595819146},{\"lat\": 49.8900523257982, \"lng\": -119.419764080113},{\"lat\": 49.8894402783813, \"lng\": -119.420522054221},{\"lat\": 49.8885586356251, \"lng\": -119.421906892136},{\"lat\": 49.8862229853522, \"lng\": -119.42535602075},{\"lat\": 49.884405072306, \"lng\": -119.429051827722},{\"lat\": 49.8819452742969, \"lng\": -119.434714934722},{\"lat\": 49.8818390387753, \"lng\": -119.437427765727},{\"lat\": 49.8818619704111, \"lng\": -119.44323752604},{\"lat\": 49.8818753383714, \"lng\": -119.446655602956},{\"lat\": 49.8818795566699, \"lng\": -119.447738434079},{\"lat\": 49.8818874588207, \"lng\": -119.449776034359},{\"lat\": 49.8819058966836, \"lng\": -119.454551762719},{\"lat\": 49.881919806603, \"lng\": -119.458184687206},{\"lat\": 49.8819345223748, \"lng\": -119.462054614684},{\"lat\": 49.8819486111424, \"lng\": -119.465788556776},{\"lat\": 49.88212399631, \"lng\": -119.468924770524},{\"lat\": 49.8831988206077, \"lng\": -119.473330575457},{\"lat\": 49.8835415022472, \"lng\": -119.476989478883},{\"lat\": 49.8835718171429, \"lng\": -119.478235715336},{\"lat\": 49.883652042004, \"lng\": -119.482752016703},{\"lat\": 49.8836622024701, \"lng\": -119.48849853489},{\"lat\": 49.883663078465, \"lng\": -119.489895826556},{\"lat\": 49.8836652165289, \"lng\": -119.493473324694},{\"lat\": 49.8836127819508, \"lng\": -119.495053435486},{\"lat\": 49.8835733182452, \"lng\": -119.496248432379},{\"lat\": 49.8844719527445, \"lng\": -119.496571937763},{\"lat\": 49.8844812694194, \"lng\": -119.499392095502}]");
    var busStops = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.RouteShapes));
    var buses = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.BusPositions));
    function initialize() {
        var mapProp = {
            center: new google.maps.LatLng(49.882114, -119.477829),
            zoom: 12,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        // setMarkers(map);
        for(var i = 0; i < busStops.length; i++)
        {
            busStops[i].lng = busStops[i].lon;
        }
        for(var i = 0; i < buses.length; i++)
        {
            buses[i].lat = buses[i].Latitude;
            buses[i].lng = buses[i].Longitude;
            new google.maps.Marker({ map: map, position: buses[i] });
        }
        var polyline = new google.maps.Polyline({ map: map, strokeColor: "#ff0000", strokeWeight: 2, strokeOpacity: 1, path: busStops });
        
        //map.setZoom(16);
    }
    google.maps.event.addDomListener(window, 'load', initialize);

    // Data for the markers consisting of a name, a LatLng and a zIndex for the
    // order in which these markers should display on top of each other.



    function setMarkers(map) {
        // Adds markers to the map.

        // Marker sizes are expressed as a Size of X,Y where the origin of the image
        // (0,0) is located in the top left of the image.

        // Origins, anchor positions and coordinates of the marker increase in the X
        // direction to the right and in the Y direction down.
        var image = {
            url: 'http://i.imgur.com/qyMqRlM.png',
            // This marker is 20 pixels wide by 32 pixels high.
            size: new google.maps.Size(20, 32),
            // The origin for this image is (0, 0).
            origin: new google.maps.Point(0, 0),
            // The anchor for this image is the base of the flagpole at (0, 32).
            anchor: new google.maps.Point(0, 32)
        };
        // Shapes define the clickable region of the icon. The type defines an HTML
        // <area> element 'poly' which traces out a polygon as a series of X,Y points.
        // The final coordinate closes the poly by connecting to the first coordinate.
        var shape = {
            coords: [1, 1, 1, 20, 18, 20, 18, 1],
            type: 'poly'
        };
        for (var i = 0; i < busStops.length; i++) {
            var busStop = busStops[i];
            var marker = new google.maps.Marker({
                position: { lat: busStop[1], lng: busStop[2] },
                map: map,
                icon: image,
                shape: shape,
                title: busStop[0],
                zIndex: busStop[3]
            });
        }
    }





</script>
<h2 class="text-center">Majic Bus- Kelowna, BC</h2>
<div id="googleMap" style="width:1000px;height:500px;"></div>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<div class="form-group">
    <label for="route">Bus Route: </label>
    <input type="text" class="form-control" id="route" placeholder="Enter Bus Route: ">
</div>